extends layout
block content
    h1= title

    - let tetrisBlockId = toShow._id
    - let tetrisBlockColor = toShow.color
    - let tetrisBlockShape = toShow.shape
    - let tetrisBlockNumberOfSquares = toShow.numberOfSquares

    div.row(class='mb-2')
        div.mr-1 ID is
        div #{tetrisBlockId}
    form(id='tetrisBlockForm', action=`/resource/tetris_blocks/${tetrisBlockId}`, method="PUT")
        div.form-group
            label.costumeAttr(for='color') TetrisBlock color:
            input#color(type='text', name='color', value=tetrisBlockColor)
        div.form-group
            label.costumeAttr(for='shape') TetrisBlock shape:
            input#shape(type='text', name='shape', value=tetrisBlockShape)
        div.form-group
            label.costumeAttr(for='numberOfSquares') Number of squares:
            input#numberOfSquares(type='number', name='numberOfSquares', value=tetrisBlockNumberOfSquares)
        input(type="submit")

    script.
        document.forms['tetrisBlockForm'].addEventListener('submit', (e) => {
            e.preventDefault();
            // TODO do something here to show user that form is being submitted
            fetch(e.target.action, {
                method: 'PUT',
                body: new URLSearchParams(new FormData(e.target))
            }).then((resp) => {
                return resp.json(); // or resp.text() or whatever the server sends
            }).then((body) => {
                alert("Update succeeded")
                // TODO handle body
            }).catch((error) => {
                // TODO handle error
                alert("Update failed " + error)
            });
        });