extends layout
block content
    h1= title
    - let tetrisBlockId = toShow._id
    - let tetrisBlockColor = toShow.color
    - let tetrisBlockShape = toShow.shape
    - let tetrisBlockNumberOfSquares = toShow.numberOfSquares
    div
        div.row
            div(class='tetrisBlockAttribute mr-3') TetrisBlock ID is:
            div #{tetrisBlockId}
        div.row
            div(class='tetrisBlockAttribute mr-3') TetrisBlock color is:
            div #{tetrisBlockColor}
        div.row
            div(class='tetrisBlockAttribute mr-3') TetrisBlock shape is:
            div #{tetrisBlockShape}
        div.row
            div(class='tetrisBlockAttribute mr-3') TetrisBlock numberOfSquares is:
            div #{tetrisBlockNumberOfSquares}